
/* Main body content */

.content {
    font-family: "Times New Roman", serif;
    font-size: 20px;
    line-height: 1.5;
    border: 1px solid #242424;  /* Black border with 2px width */

    max-width: 600px;
    margin: 50px auto;
    padding: 130px;
    padding-bottom: 40px;
    padding-top: 75px;
    text-align: left;  /* Left-align the paragraphs */
}
.title h1, h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}
.title h1 {
    font-size: 2em;
    font-weight: lighter;
    margin-bottom: 15px;
    letter-spacing: 3.5px;
}

.title h2 {
    color: #006EB6;
    margin-bottom: 45px;
    font-size: smaller;
    font-weight: lighter;
    letter-spacing: 3.5px;
    border-bottom-style:inset;
}
p:nth-of-type(1) {
    margin-top: 0px;
}
p {

    text-align: left;
}

p em {
    font-style: italic;
}

/* Ordered list */
.does-list {
    margin-bottom: 40px;

}

.does-list li {
    margin-bottom: 20px;
}

footer img {
    max-width: 150px;
    height: auto;
    /* align img to center */
}
footer {
    text-align: center;
}